@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
}

header{
    background-color: #3DBD8A;
    padding-top: 20px;
    button.btn-menu{
        position: relative;
        height: 100%;
        width: 40px;
        background-color: transparent;
        float: right;
        border: 0;
        span{
            width: 40px;
            height: 4px;
            display: block;
            position: absolute;
            top: 8px;
            background-color: #fff;
            border-radius: 25px;
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(2){
                top: 18px;
            }
            &:nth-child(3){
                top: 28px;
            }
        }
        &.active span:nth-child(1){
            top: 18px;
            transform: rotate(45deg);
        }
        &.active span:nth-child(2){
            right: -100px;
        }
        &.active span:nth-child(3){
            top: 18px;
            transform: rotate(-45deg);
        }
    }
    ul{
        list-style: none;
        display: none;
        height: 100%;
        position: absolute;
        top: 61px;
        transition: all .3s linear;
        right: -130%;
        background-color: #3DBD8A;
        z-index: 15;
        padding: 20px 30px;
        bottom: 0;
        height: calc(100% - 61px);
        &.active{
            display: block;
            right: 0;
            overflow-y: scroll;
        }
        li{
            margin-bottom: 20px;
            a{
                color: #fff;
                margin: auto;
                border: none;
                text-decoration: none;
                padding: 4px 0;
                &:hover{
                    color: #277A59;
                }
                &.active{
                    border-bottom: 4px solid #277A59;
                }
                &.btn.btn-green{
                    background-color: #277A59;
                    padding: 12px 18.5px;
                    color: #fff;
                    margin-left: 0;
                }
            }
        }
    }
    .overlay{
        position: absolute;
        top: 62px;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(0,0,0,0.6);
        bottom: 0;
        display: none;
        &.active{
            display: block;
        }
    }
}

#home{
    #banner{
        background-color: #3DBD8A;
        padding: 44px 0 34px;
        border-radius: 0px 0px 0px 80px;
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 35px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #E6E6E6;
            margin-bottom: 40px;
        }
        .col-md-6:first-child{
            margin: auto;
        }
        a.btn-como-ajudar{
            background: #FA5050;
            border-radius: 8px;
            padding: 12px 34px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        a.btn-conheca{
            display: inline-flex;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            text-decoration: none;
        }
        img{
            margin: 28px auto 0;
            display: block;
        }
        .buttons *{
            margin: auto;
        }
    }
    #sobreNos{
        margin-top: 89px;
        padding: 60px 0;
        background: linear-gradient(180deg, #E2EEEC -5.54%, rgba(227, 239, 237, 0) 100%);
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 88px;
            color: #2E2E2E;
            margin-bottom: 10px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #0B0A0A;
            margin-bottom: 23px;
        }
        .card{
            border-radius: 16px;
            padding: 32px 32px 0;
            height: 350px;
            border: 0;
            margin-bottom: 30px;
            &.green{
                background-color: #3DBD8A;
                span.icon{
                    background: #254330;
                }
                h3{
                    color: #FFFFFF;
                }
                p{
                    color: #E6E6E6;
                }
            }
            span.icon{
                padding: 14px;
                background: #E2EEEC;
                display: block;
                margin-bottom: 8px;
                border-radius: 16px;
                width: 80px;
                height: 80px;
                text-align: center;
            }
            h3{
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #2E2E2E;
                margin-bottom: 6px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #808080;
            }
        }
    }
    #campanhas{
        padding: 100px 0;
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 88px;
            color: #2E2E2E;
            margin-bottom: 40px;
        }
        .btn-campanhas{
            background: #53C351;
            border-radius: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 12px;
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
        }
        .card-destaque{
            a.barra-link{
                background-color: #3DBD8A;
                padding: 45px 45px 35px;
                position: relative;
                display: block;
                border-radius: 0px 0 0 16px;
                text-decoration: none;
                img{
                    width: 100%;
                }
                span.icon{
                    position: absolute;
                    top: calc(50% - 22px);
                    right: 45px;
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: #E6E6E6;
                }
                h3{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: #FFFFFF;
                }
            }
        }
        .card{
            position: relative;
            border: 0;
            margin-bottom: 36px;
            a.barra-link{
                background-color: #3DBD8A;
                padding: 24px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                border-radius: 0px 0 0 16px;
                text-decoration: none;
                img{
                    width: 100%;
                }
                span.icon{
                    position: absolute;
                    top: calc(50% - 15px);
                    right: 25px;
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: #E6E6E6;
                    margin: 0;
                }
                h3{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: #FFFFFF;
                    margin: 0;
                }
            }
        }
    }
}

#instituicao-pagina{
    #banner{
        background-color: #3DBD8A;
        padding: 64px 0 44px;
        border-radius: 0px 0px 0px 80px;
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 35px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #E6E6E6;
            margin-bottom: 40px;
        }
    }

    #visu-instituicoes{
        padding: 50px 0;
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 88px;
            color: #2E2E2E;
            margin-bottom: 40px;
        }
        .btn-pesquisar{
            background: #277A59;
            border-radius: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 12px;
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            margin-left: 15px;
            border: 1px solid #277A59;
        }
        .btn-carregar-mais{
            background: #53C351;
            border-radius: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            padding: 12px;
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            margin-left: 15px;
            border: 1px solid #53C351;
        }

        .card-instituicoes{

            background: #FFFFFF;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px 0;
            gap: 16px;

            .img-largura{
                display: block;
                width: 100%;
                height: 304px;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
    
            .card-desc-instituicao{
    
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: #666666;
                    margin: 0;
                }
    
                h5{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                }
    
            }
    
        }

        form{
            margin-top: 20px;
            .form-group{
                margin-bottom: 32px;
                position: relative;
            }
            input, select{
                background: #C4C4C4;
                display: block;
                padding: 10px 15px;
                width: 100%;
                color: #000000;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                border-radius: 2px;
                &::placeholder{
                    color: #000000;
                }
            }
            label{
                color: #000000;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                position: absolute;
                left: 15px;
                top: 10px;
                transition: ease-in-out 0.3s all;
            }
            .text-muted{
                display: none;
            }
            select{
                background: #C4C4C4 url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='10.523' y1='12.8036' x2='21.8367' y2='1.48993' stroke='black' stroke-width='2'/%3E%3Cpath d='M1 2L11.6066 12.6066' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") 95% 50% no-repeat;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                position: relative;
            }
           
        }
    }

}

#instituicao-conteudo{
    #banner{
        background-color: #3DBD8A;
        padding: 64px 0 44px;
        border-radius: 0px 0px 0px 80px;
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 35px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #E6E6E6;
            margin-bottom: 40px;
        }
    }

    #content-instuicao{

        margin: 60px 0px;

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0px;
            padding: 0px;

            li{

                display: inline-block;
                padding: 25px 30px;
                border-radius: 25px 25px 0px 0px;
                background: #E7F1EF;
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 34px;
                text-align: center;
                color: #000000;
                width: 296px;
                cursor: pointer;

                &.active{

                    background: #3DBD8A;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 34px;
                    text-align: center;
                    color: #FFFFFF;

                }

            }

        }

        .content-tab{

            padding: 97px 57px;
            background-color: #3DBD8A;
            border-radius: 0px 0px 25px 25px;

            p{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 34px;
                color: #FFFFFF;
            }

            &.disabled{
                display: none;
            }

            img.rounded{

                border-radius: 8px;

            }
            
            .title-tab{

                p{

                    font-weight: 700;
                    font-size: 64px;
                    line-height: 88px;
                    color: #FFFFFF;

                }

            }

            .desc-location{

                p{

                    font-weight: 400;
                    font-size: 20px;
                    line-height: 34px;
                    color: #FFFFFF;

                }

            }

        }

    }

}

#campanhas-pagina{
    #banner{
        background-color: #3DBD8A;
        padding: 64px 0 44px;
        border-radius: 0px 0px 0px 80px;
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 35px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #E6E6E6;
            margin-bottom: 40px;
        }
    }

    #visu-campanhas{
        padding: 50px 0;
        h2{
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 88px;
            color: #2E2E2E;
            margin-bottom: 40px;
        }
        .btn-pesquisar{
            background: #277A59;
            border-radius: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 12px;
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            margin-left: 15px;
            border: 1px solid #277A59;
        }
        .btn-carregar-mais{
            background: #53C351;
            border-radius: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            padding: 12px;
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            margin-left: 15px;
            border: 1px solid #53C351;
        }

        .card-campanhas{

            background: #FFFFFF;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px 0;
            gap: 16px;

            .img-largura{
                display: block;
                width: 100%;
                height: 304px;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
    
            .card-desc-campanhas{
    
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: #666666;
                    margin: 0;
                }

                a{
                    text-decoration: none !important;
                    color: #666666;
                }
    
                h5{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                }
    
            }
    
        }

        form{
            margin-top: 20px;
            .form-group{
                margin-bottom: 32px;
                position: relative;
            }
            input, select{
                background: #C4C4C4;
                display: block;
                padding: 10px 15px;
                width: 100%;
                color: #000000;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                border-radius: 2px;
                &::placeholder{
                    color: #000000;
                }
            }
            label{
                color: #000000;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                position: absolute;
                left: 15px;
                top: 10px;
                transition: ease-in-out 0.3s all;
            }
            .text-muted{
                display: none;
            }
            select{
                background: #C4C4C4 url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='10.523' y1='12.8036' x2='21.8367' y2='1.48993' stroke='black' stroke-width='2'/%3E%3Cpath d='M1 2L11.6066 12.6066' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") 95% 50% no-repeat;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                position: relative;
            }
           
        }
    }

}

#instituicao{
    margin-top: 50px;
    padding: 60px 0;
    background: linear-gradient(180deg, #E2EEEC -5.54%, rgba(227, 239, 237, 0) 100%);
    h2{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 88px;
        color: #2E2E2E;
        margin-bottom: 40px;
    }
    .btn-instituicoes{
        background: #53C351;
        border-radius: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 12px;
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    .card-instituicoes{
        background: #FFFFFF;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 16px;
        .img-largura{
            display: block;
            width: 100%;
            height: 304px;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
        .card-desc-instituicao{
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #666666;
                margin: 0;
            }
            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

#contato{
    padding: 100px 0;
    position: relative;
    background-color: #3DBD8A;
    h2{
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 60px;
        margin-bottom: 10px;
        color: #fff;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #E6E6E6;
    }
    img.background{
        display: none;
    }
    form{
        margin-top: 20px;
        .form-group{
            margin-bottom: 32px;
            position: relative;
        }
        input, select{
            background: #C4C4C4;
            display: block;
            padding: 10px 15px;
            width: 100%;
            color: #000000;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            border-radius: 2px;
            &::placeholder{
                color: #000000;
            }
        }
        label{
            color: #000000;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            position: absolute;
            left: 15px;
            top: 10px;
            transition: ease-in-out 0.3s all;
        }
        .text-muted{
            display: none;
        }
        select{
            background: #C4C4C4 url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='10.523' y1='12.8036' x2='21.8367' y2='1.48993' stroke='black' stroke-width='2'/%3E%3Cpath d='M1 2L11.6066 12.6066' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") 95% 50% no-repeat;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            // &:before{
            //     content: "";
            //     position: absolute;
            //     width: 25px;
            //     height: 25px;
            //     right: 0;
            //     top: 0;
            //     bottom: 0;
            //     display: block;
            //     z-index: -1;
            // }
            // &:focus{

            // }
        }
        button{
            background: #FA5050;
            border-radius: 8px;
            padding: 12px 46px;
            gap: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
        }
    }
}

footer{
    padding: 70px 0;
    img{
        margin: auto;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #808080;
        &.mt-10{
            margin-top: 10px;
        }
    }
    h3{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #2E2E2E;
        margin-bottom: 32px;
    }
    form{
        label{
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #808080;
        }
        button.btn{
            padding: 12px;
            background: #FA5050;
            border-radius: 8px;
            margin-top: 18px;
            display: block;
            width: 100%;
            border: 0;
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
    }
    .mb-mob{
        margin-bottom: 32px;
    }
}

@media(min-width: 768px){
    header{
        background-color: #3DBD8A;
        padding-top: 20px;
        button.btn-menu{
            display: none;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;
            position: relative;
            padding: 0;
            top: 0;
            bottom: 0;
            right: 0;
            li{
                margin: 0;
                a{
                    color: #fff;
                    margin: auto;
                    border: none;
                    text-decoration: none;
                    padding: 4px 0;
                    &:hover{
                        color: #277A59;
                    }
                    &.active{
                        border-bottom: 4px solid #277A59;
                    }
                    &.btn.btn-green{
                        background-color: #277A59;
                        padding: 12px 18.5px;
                        color: #fff;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    #home{
        #banner{
            h1{
                font-size: 64px;
                line-height: 88px;
            }
            a.btn-como-ajudar{
                margin-bottom: 0;
            }
            img{
                margin: auto;
            }
        }
        #sobreNos{
            .card{
                margin-bottom: 0;
            }
        }
        #instituicao{
            .card{
                margin-bottom: 0;
            }
        }
    }

    #contato{
        padding: 180px 0;
        position: relative;
        background-color: unset;
        img.background{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: fill;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }

    footer{
        margin: 0;
        .mb-mob{
            margin-bottom: 0;
        }
    }
}